h1 {
    margin-bottom: 35px;
}

input[type="text"] {
    width: 220px;
    float: left;
}

.narrow-button {
    float: left;
    margin-left: 15px;
}

.search {
    display: inline-block;
    margin-bottom: 15px;
}
